<ul class="navbar-nav">
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="SignUp">
                Sign Up
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="SignIn">
                Sign In
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">
                Logout
            </a>
        </li>
    }

</ul>